
name: Manually Build, No Release
on:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push-docker:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - dockerfile: ./app/Dockerfile
            context: ./app/
            image: ghcr.io/biohackerellie/flexfacilities-web
            name: flexfacilities-web
          - dockerfile: ./api/Dockerfile
            context: ./api/
            image: ghcr.io/biohackerellie/flexfacilities-api
            name: flexfacilities-api
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Log in to the Container registry
        uses: docker/login-action@28fdb31ff34708d19615a74d67103ddc2ea9725c
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@8d8c7c12f7b958582a5cb82ba16d5903cb27976a
        with:
          images: ${{matrix.image}}
          flavor: |
            latest=false
          tags: |
            type=ref,event=branch
            type=schedule,enable=true,priority=1000,prefix=,suffix=,pattern=nightly
            type=match,pattern=v(.*),group=1
            type=raw,value=latest,enable=true
          labels: |
            org.opencontainers.image.title=${{matrix.name}}
            org.opencontainers.image.description=FlexFacilities's open source containers
            org.opencontainers.image.vendor=Biohackerellie
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: ${{matrix.context}}
          file: ${{matrix.dockerfile}}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{matrix.image}} 
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
